/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.components-button .image-button {
  background: #f1f1f1;
  float: right;
  width: 50%;
  min-height: 100px;
  text-align: center;
}

.components-button .image-button button {
  margin-top: 30px;
}

.components-button .image-button button.image-button {
  margin: 0;
  padding: 0;
  display: block;
}

.components-button .image-button img {
  display: block;
  z-index: 1;
  position: relative;
}