

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-xl-8 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}


.hero {
	position: relative;
	text-align: center;
	background: #f8f9fa;
	box-shadow: 0 0.05rem 0.3rem rgba(0, 0, 0, 0.1);
}

.hero-heading {
	margin-bottom: 2rem;
}

.pt-6,
.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
 .pt-lg-7,
  .py-lg-7 {
    padding-top: 8rem !important;
  }

.bg-primary {
  background-color: #007a86 !important;
}

.bg-secondary {
  background-color: #8a387c !important;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-warning {
  background-color: #ed8b00 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-primary {
  color: #007a86 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #0091a0 !important;
}

.text-secondary {
  color: #8a387c !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #c21766 !important;
}

.text-success {
  color: #28a745 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #19692c !important;
}

.text-info {
  color: #17a2b8 !important;
}

a.text-info:hover, a.text-info:focus {
  color: #0f6674 !important;
}

.text-warning {
  color: #ed8b00 !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #ba8b00 !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important;
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light:hover, a.text-light:focus {
  color: #cbd3da !important;
}

.alert-title + .text-light {
  color: #868e96 !important;
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #121416 !important;
}
