/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.components-button .image-button {
	background: #f1f1f1;
	float: right;
	/* width: 50%; */
	max-height: 100px;
	text-align: center;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image button {
	margin-top: 30px;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image button.image-button {
	margin: 0;
	padding: 0;
	display: block;
}

.nmkids-bootstrap-blocks-card > img {
	display: block;
	z-index: 1;
	position: relative;
	max-height: 100px !important;
}

.components-button > img {
	max-height: fit-content !important;
	margin-top: auto;
}

