/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-nmkids-bootstrap-blocks-alert
{
	padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background-color: #fafafa;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    color: #868e96 !important;
}

h1.alert-title,
h2.alert-title,
h3.alert-title,
h4.alert-title,
h5.alert-title,
h6.alert-title,
{
  margin-bottom: 0.25rem !important;
}

p.alert-body {
  margin-bottom:  0.25rem !important;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background-color: #fafafa;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    color: #868e96 !important;
}

.bd-callout-primary {
    border-color: #293581;
    border-left-width: .5rem;
}
.bd-callout-secondary {
    border-color: #792049;
    border-left-width: .5rem;
}
.bd-callout-success {
    border-color: #155724;
    border-left-width: .5rem;
}
.bd-callout-danger {
    border-color: #721c24;
    border-left-width: .5rem;
}
.bd-callout-warning {
    border-color: #856404;
    border-left-width: .5rem;
}
.bd-callout-info {
    border-color: #0c5460;
    border-left-width: .5rem;
}
.bd-callout-light {
    border-color: #818182;
    border-left-width: .5rem;
}
.bd-callout-dark {
    border-color: #1b1e21;
    border-left-width: .5rem;
}



div.alert-content > p {
  margin-bottom: .5rem;
}

.alert-title {
  margin-bottom: .5rem !important;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #2f3d95;
  background-color: #eaedfe;
  border-color: #eaedfe;
}

.alert-primary hr {
  border-top-color: #d2d8fd;
}

.alert-primary .alert-link {
  color: #232d6e;
}

.alert-secondary {
  color: #8b2554;
  background-color: #fce8f1;
  border-color: #fce8f1;
}

.alert-secondary hr {
  border-top-color: #f9d1e3;
}

.alert-secondary .alert-link {
  color: #631a3c;
}

.alert-success {
  color: #186429;
  background-color: #e5f4e9;
  border-color: #e5f4e9;
}

.alert-success hr {
  border-top-color: #d3ecda;
}

.alert-success .alert-link {
  color: #0e3b18;
}

.alert-info {
  color: #0e616e;
  background-color: #e3f4f6;
  border-color: #e3f4f6;
}

.alert-info hr {
  border-top-color: #d0ecf0;
}

.alert-info .alert-link {
  color: #083941;
}

.alert-warning {
  color: #997404;
  background-color: #fff8e1;
  border-color: #fff8e1;
}

.alert-warning hr {
  border-top-color: #fff2c8;
}

.alert-warning .alert-link {
  color: #674e03;
}

.alert-danger {
  color: #842029;
  background-color: #fbe7e9;
  border-color: #fbe7e9;
}

.alert-danger hr {
  border-top-color: #f7d1d5;
}

.alert-danger .alert-link {
  color: #5b161c;
}

.alert-light {
  color: #959596;
  background-color: #fefefe;
  border-color: #fefefe;
}

.alert-light hr {
  border-top-color: #f1f1f1;
}

.alert-light .alert-link {
  color: #7b7b7d;
}

.alert-dark {
  color: #1f2326;
  background-color: #e7e7e8;
  border-color: #e7e7e8;
}

.alert-dark hr {
  border-top-color: #dadadc;
}

.alert-dark .alert-link {
  color: #08090a;
}
