.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.card-header:first-child {
    border-radius: calc(0.4rem - 1px) calc(0.4rem - 1px) 0 0;
}
.bg-primary-100 {
    background: #f8f9ff;
}
.pb-0, .py-0 {
    padding-bottom: 0 !important;
}
.pt-0, .py-0 {
    padding-top: 0 !important;
}
.shadow {
    box-shadow: 0 0 1rem rgb(0 0 0 / 15%) !important;
}
.border-0 {
    border: 0 !important;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-link {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}
a {
    color: #007a86;
    text-decoration: none;
    background-color: transparent;
}

.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pl-3, .px-3 {
    padding-left: 1rem !important;
}
.pr-3, .px-3 {
    padding-right: 1rem !important;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.text-muted {
    color: #868e96 !important;
}
.pb-1, .py-1 {
    padding-bottom: 0.25rem !important;
}